header.header#header
  .header__img
    a(href="./")
      img(src="img/logo/logo.svg", alt="ロゴ")
  .header__list
    .header__list__item
      a(href="http://example.com" target="_blank" rel="noopener noreferrer").header__list__item__linkText Rashisa出版
    .header__list__item
      a(href="http://kotobaton.com" target="_blank" rel="noopener noreferrer").header__list__item__linkText コトバトン
    .header__list__item
      a(href="https://honmaru-radio.com/category/honmarugreemlabel_osaka/" target="_blank" rel="noopener noreferrer").header__list__item__linkText Green Label
    .header__list__item
      a(href="#company").header__list__item__linkText 会社概要
    .header__list__item
      a(href="#contact").header__list__item__linkText お問い合わせ
  .sp-only
    .menu
      .menu__item
        a.text-large(href="http://example.com" target="_blank" rel="noopener noreferrer") Rashisa出版
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item
        a.text-large(href="http://kotobaton.com" target="_blank" rel="noopener noreferrer") コトバトン
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item
        a.text-large(href="https://honmaru-radio.com/category/honmarugreemlabel_osaka/" target="_blank" rel="noopener noreferrer") Green Label
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item
        a.text-large(href="#company") 会社概要
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item
        a.text-large(href="#contact") お問い合わせ
    .menu__toggler
      span
