header.header#header
  .header__img
    a(href="./")
      img(src="img/logo/logo.svg", alt="ロゴ")
  .header__list
    .header__list__item
      a(href="/#Rashisa").header__list__item__linkText Rashisa出版
    .icon
      img(src="img/common/circle.svg", alt="")
    .header__list__item
      a(href="/#kotobaton").header__list__item__linkText コトバトン
    .icon
      img(src="img/common/circle.svg", alt="")
    .header__list__item
      a(href="/#GreenLabel").header__list__item__linkText Green Label
    .icon
      img(src="img/common/circle.svg", alt="")
    .header__list__item
      a(href="/#company").header__list__item__linkText 会社概要
    .icon
      img(src="img/common/circle.svg", alt="")
    .header__list__item
      a(href="/#contact").header__list__item__linkText お問い合わせ
  .sp-only
    .menu
      .menu__item
        a.text-large#LinkBtn(href="/#Rashisa") Rashisa出版
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item#LinkBtn
        a.text-large#LinkBtn2(href="/#kotobaton") コトバトン
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item
        a.text-large#LinkBtn3(href="/#GreenLabel") Green Label
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item
        a.text-large#LinkBtn4(href="/#company") 会社概要
      .icon
        img(src="img/common/circle.svg", alt="")
      .menu__item
        a.text-large#LinkBtn5(href="/#contact") お問い合わせ
    .menu__toggler
      span
