.btn {
  padding: 13px 30px 13px 30px;
  color: $white;
  background-color: $green-blod;
  border-radius: 25px;
  @include font($fontSize: 15px, $weight: 700, $style: normal, $kerning: 50, $lineheight: 1);
  transition: all .3s ease-out;
  outline: 1px solid;
  outline-color: $green-blod;
  outline-offset: 0px;
  display: inline-block;
  transition: .3s;
  &:hover {
  animation: light .8s infinite;
  }
}
@keyframes light {
  100% {
    outline-color: transparent;
    outline-offset: 12px;
  }
}
